<article class="tile" itemscope itemtype="http://schema.org/Article">
{% if post.author %}<p class="author-name">{{ site.data.authors[post.author].name }}</p>{% endif %}

    {% if post.image.teaser %}
        {% assign background = post.image.teaser %}
    {% else %}
        {% assign background = site.teaser %}
    {% endif %}

    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser" style="background-image: url({{ site.url }}/images/{{ background }});">

    {% if post.title %}
    <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
    {% endif %}
    </a>

    <!-- {% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %} -->
    <!-- <p class="post-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncate: 160 }}</p> -->

</article><!-- /.tile -->
