/* ==========================================================================
   Custom Styles
   CSS tweaks for Zombies Reimagined Project
   Nabil Kashyap
   Roberto Vargas
   ========================================================================== */

span.rtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#site-footer p.copyright{
    font-size: 1.1em;
}

.page-title {
    color: $red;
}

.footnotes ol {
    list-style: $red;
}

a.footnote {

    color: $red;
    font-size: 1.3em;
}

.sliding-menu-content li{
  height: 150px;
}

.sliding-menu-content li img.teaser{
  height: 100%;
}

.sliding-menu-content .menu-item li a .excerpt-authors{
  margin-top: 0;
      margin-left: 60px;
      @include font-size(14,no);
      @include media($small) {
        margin-left: 170px;
        font-size: 0.8em;
      }
}

.title .post-teaser a:link {
  text-decoration: none;
}
 /* article.tile {
 border-bottom: 1px solid $black;
} */

.home p {
  font-size: 1.5em;
}